<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<%= react_component("TalentMatrix", { greeting: "Hello from react-rails." }) %>
<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
